/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
  color: #23293B;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
nav {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  position: sticky;
  top: 0;
  background-color: white;
}
nav div {
  min-width: 35vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home div {
  width: 50vw;
  height: 30vh;
}
.about {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background-color: #8ABAD3FF;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 5rem;
}
.about .about-text {
  width: 60%;
}
.about .about-image {
  width: 30vw;
  height: 60vh;
}
.about .about-image img {
  width: 100%;
  height: 100%;
}
.projects-page {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}
.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: initial;
}
.projects .project {
  max-width: 43vw;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 2rem;
}
.projects .project .project-image {
  height: 50%;
}
.projects .project .project-image img {
  height: 100%;
  width: 100%;
}
.contact {
  height: 50vh;
  background-color: #EDC2D8FF;
  text-align: center;
}
footer {
  height: 5vh;
  background-color: gray;
}
