.about {
    color: white;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    background-color: #8186d5;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5rem;
    font-size: 1.6rem;

    @media @phone {
        flex-direction: column;
    }

    p {
        font-size: 2rem;
    }

    h1, h2 {
        padding: 2rem 0;
        color: white;
    }

    .about-text {
        width: 60%;

        @media @phone {
            width: 100%;
        }

        .overview {
            padding-bottom: 5rem;
        }

        .skills {
            padding: 5rem 0;

            ul {
                li {
                    padding-bottom: 1rem;
                    color: black;

                    

                    div {
                        background-color: greenyellow;
                        height: 2.5rem;
                        padding: 0.3rem;
                        padding-left: 1rem;
                        text-transform: uppercase;

                        &:hover{
                            &.pulsate-fwd{-webkit-animation:pulsate-fwd .5s ease-in-out both;animation:pulsate-fwd .5s ease-in-out both}
                        }
                    }
                }
            }

            #javascript {
                background-color: greenyellow;
                width: 50%;
            }
            #react {
                background-color: lavender;
                width: 60%;
            }
            #express {
                background-color: lightpink;
                width: 40%;
            }
            #nodejs {
                background-color: mediumturquoise;
                width: 60%;
            }
            #mongodb {
                background-color: peachpuff;
                width: 60%;
            }
            #postgresql {
                background-color: tomato;
                width: 50%;
            }
            #html-css {
                background-color: yellow;
                width: 40%;
            }
        }
    }

    .about-image {
        width: 25vw;
        height: 40vh;
        border-radius: 5rem;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        overflow: hidden;
        background-image: url('../assets/images/me.png');
        background-size: cover;

        @media @phone {
            width: 100%;
        }
    }
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}