.contact {
    height: 45vh;
    background-color: #ffac41;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;

    @media @phone{
        height: 50vh
    }

    h1 {
        padding: 2rem 0;
        color: black;
    }

    h4 {
        color: black;
    }

    .social-icons {
        padding: 4rem;
        min-width: 40rem;
        display: flex;
        justify-content: space-between;

        img {
            &:hover{
                transform: scale(1.1);
                transition: 0.3s ease-in-out;
            }
        }
    }

    img {
        height: 5rem;
        width: 5rem;
    }
}